* {
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  padding-top: 46px;
  background-color: #f1f1f1;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav-links {
  display: flex;
}

.header_nav-links a {
  margin-left: 50px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;

  transition: color 0.3s ease-in-out;
}

.header_nav-links a:hover {
  color: #606060;
}

.header_content {
  position: relative;
  margin-top: 200px;
  padding-bottom: 281px;
}

.header_title {
  font-size: 44px;
  font-weight: 600;
}

.header_desc {
  margin-top: 20px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  max-width: 500px;
}

.header_img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Services */

.services {
  padding: 90px 0;
}

.services_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services_card {
  max-width: 370px;
  margin-right: 30px;
}

.services_card:last-child {
  margin-right: 0;
}

.services_card-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.services_card-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.portfolio {
  background-color: #f1f1f1;
  padding-top: 90px;
  text-align: center;
}

.portfolio_title {
  font-size: 34px;
  font-weight: 600;
}

.portfolio_img {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
}

.portfolio_link {
  font-weight: 400;
  font-size: 18px;
  color: #070707;
  text-decoration: underline;
}
